@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

      pre {
        font-family: arial, sans-serif;
        font-size: .6em;
      }

      ul {
        list-style-type: none;
      }

      li {
        display: inline-block;
      }

      a {
        text-decoration: none;
        color: grey;
      }

      a:before {
        content: ":";
        color: red;
      }

      a:after {
        content: "";
        color: red;
      }

* {
  background: black;
  color: white;
  font-family: Share Tech Mono;
}