      pre {
        font-family: arial, sans-serif;
        font-size: 1em;
      }

      ul {
        list-style-type: none;
      }

      li {
        display: inline-block;
      }

      a {
        text-decoration: none;
      }

      a:before {
        content: ":";
        color: red;
      }

      a:after {
        content: "";
        color: red;
      }